config.el
.DS_Store
auto-save-list/*
*~
backup/*
ido.last
org-gcal/*
request/*
.org-id-locations
tramp
elpa/
.cask/
*.dat
*.elc
.cache
.projectile-*
bookmarks
transient/
network-security.data
*.eld
.lsp-*
recentf
persist/
url/
.org-generic-id-locations
eshell/